
/*  RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
    width: 800px;
    margin: 0 auto;
    background: #f5f5f5;
    text-align: center;
    /* Gross hack to stop weird scrolling. */
    overflow: hidden;
}

#canvas {
    font-family: georgia;
    position: relative;
    margin: 40px 0 30px;
    width: 800px;
    height: 500px;
}

#canvas:after,
#canvas:before {
    position: absolute;
    content: "";
    z-index: -1;
    bottom: 15px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
    width: 50%;
    height: 10px;
    max-width: 300px;
}

#canvas:after {
    right: 5px;
    -webkit-transform: rotate(3deg);
}

#canvas:before {
    left: 5px;
    -webkit-transform: rotate(-3deg);
}

#canvas span {
    position: absolute;
    display: block;
}

#front, #back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    background: #fafafa;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 2s ease-in-out;
}

#social {
    font-family: lucida grande, lucida;
    line-height: 1.5em;
    color: #777;
    font-size: 13px;
}

#social p {
    margin-bottom: 1.2em;
}

#social p a {
    color: #aaa;
    font-size: 0.9em;
}
