
/*  RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

/* CUSTOM */
body, #canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    font-family: georgia;
    font-size: 20px;
    -webkit-user-select: none;
    cursor: crosshair;
}

#original-content {
    display: none;
}

#canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: crosshair;
    overflow: hidden;
}

#canvas h3, #canvas p {
    position: absolute;
    top: 0;
    left: 0;
}

#canvas h1, #canvas h2, #canvas h3, {
    font-weight: bold;
}

#canvas h1 span,
#canvas h2 span,
#canvas h3 span,
#canvas p span {
    position: absolute;
    display: block;
}
